@{
    ViewData["Title"] = "Home Page";
}
<br />


<div class="container">

    <div class="col-md-12">

        <textarea id="displaymessage" cols="100" rows="20"></textarea>

        <br />
        <label> Message :</label> <input type="text" id="message" style="width:500px" />
        <input id="Enviar" type="button" value="Enviar" />

    </div>

</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/JavaScript.js"></script>